<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HARG Medical</title>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/cadastrar-medico.css}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="all">
            <!-------------- CONTEÚDO PRINCIPAL ---------------->
            <div id="main-card">
                <!-------------- TOPO ---------------->
                <div id="top">
                    <a href="/"><img th:src="@{/img/logo1.png}" id="img-top"></a>
                </div>
                <!---------------- MEIO -------------->
                <div id="mid">
                    <div class="forms">
                        <form id="medico">
                            <div class="content-forms">
                                <div class="text-box">
                                    <div class="div-dados">
                                        <label for="nome">nome completo</label>
                                        <input class="campo-nome" type="text" id="nome" name="nome">

                                        <label for="cpf">CPF</label>
                                        <input class="campo-cpf" type="text" id="cpf" name="cpf">
                                    </div>
                                    <div class="div-medico">
                                        <label for="crm">CRM</label>
                                        <input class="campo-crm" type="text" id="crm" name="crm">

                                        <label for="especializacao">especialização</label>
                                        <input class="campo-esp" type="text" id="especializacao" name="especializacao">
                                    </div>
                                </div>

                                <div class="data-genero">
                                    <label for="date">data de nascimento</label>
                                    <input class="campo-data" type="date" id="date" name="date">

                                    <label for="sexo">gênero</label>
                                    <input class="campo-genero" type="radio" name="sexo" value="M">Masculino
                                    <input class="campo-genero" type="radio" name="sexo" value="F">Feminino
                                </div>
                                
                                <div class="comorbidade">
                                    <label for="comorbidade">Comorbidades:</label>
                                    <div class="campo-comorbidade">
                                        <input type="checkbox" id="tabagismo">Tabagismo
                                        <input type="checkbox" id="obesidade">Obesidade
                                        <input type="checkbox" id="hipertensao">Hipertensao
                                        <input type="checkbox" id="gestante">Gestante
                                        <input type="checkbox" id="diabetes">Diabetes
                                    </div>
                                </div>

                                <div class="servicos">
                                    <label for="servicos">Serviços:</label>
                                    <div class="campo-servicos">
                                        <ul id="checkbox-list" class="checkbox-list">
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="button">
                                <input id="submit-button" type="submit" value="Cadastrar">
                                <p id="result-cadastro">Resultado</p>
                            </div>
                        </form>
                    </div>

                </div>

                <!---------------- RODAPE -------------->
                <div id="bottom">
                    <img th:src="@{/img/logo2.png}" id="img-bottom">
                    <p id="tel-bottom">Telefone: <strong>(82) 3252-9081</strong></p>
                    <p id="copy-bottom">© 2023 HARG. Todos os direitos reservados.</p>
                </div>
            <!----------- FIM CONTEÚDO PRINCIPAL ------------->
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script th:src="@{/js/verify-form-paciente.js}"></script>
        <script th:src="@{/js/submit-formulary.js}"></script>
    </body>
</html>