<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HARG Medical</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/cadastrar-servico.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <div id="all">
        <!-------------- CONTEÚDO PRINCIPAL ---------------->
        <div id="main-card">
            <!-------------- TOPO ---------------->
            <div id="top">
                <div class="img-content">
                        <a href="/"><img th:src="@{/img/logo1.png}" id="img-top"></a>
                    </div>
            </div>
            <!---------------- MEIO -------------->
            <div id="mid">
                <div class="forms">
                    <form id="cadastrar-servico">
                        <div class="content-forms">
                            <div class="nome input">
                                <label for="nome">Nome</label>
                                <input class="campo-nome" type="text" id="nome" name="nome">
                            </div>

                            <div class="especialidade input">
                                <label for="nome">Especialidade</label>
                                <input class="campo-nome" type="text" id="especialidade" name="especialidade">
                            </div>

                            <div class="valor input">
                                <label for="nome">Valor</label>
                                <input class="campo-valor" type="text" id="valor" name="valor">
                            </div>

                            <div class="select input">
                                <label for="input-tipo">Tipo</label>
                                <select class="selectType" id="input-tipo">
                                    <option></option>
                                    <option value="exame">Exame</option>
                                    <option value="consulta">Consulta</option>
                                    <option value="procedimento">Procedimento</option>
                                </select>
                            </div>
                        </div>
                        <div class="button">
                            <input id="submit-button" type="submit" value="Cadastrar">
                            <p id="result-cadastro">Resultado</p>
                        </div>
                    </form>
                </div>

            </div>

            <!---------------- RODAPE -------------->
            <div id="bottom">
                <img th:src="@{/img/logo2.png}" id="img-bottom">
                <p id="tel-bottom">Telefone: <strong>(82) 3252-9081</strong></p>
                <p id="copy-bottom">© 2023 HARG. Todos os direitos reservados.</p>
            </div>
            <!----------- FIM CONTEÚDO PRINCIPAL ------------->
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{/js/form-servico.js}"></script>
</body>

</html>