<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HARG Medical</title>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/buscar.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body id="buscar-paciente">

        <div id="all">
            <!-------------- CONTEÚDO PRINCIPAL ---------------->
            <div id="main-card">
                <!-------------- TOPO ---------------->
                <div id="top">
                    <div class="img-content">
                        <a href="/"><img th:src="@{/img/logo1.png}" id="img-top"></a>
                    </div>
                </div>
                <!---------------- MEIO -------------->

                <div id="mid">
                    <div class="forms">
                        <div id="barra-busca">
                            <input class="campo-nome" type="text" id="inputBusca" name="nome">
                        </div>
                        <div id="resultado-busca" class="resultado-busca">
                            <ul id="resultado">
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!---------------- RODAPE -------------->
                <div id="bottom">
                    <img th:src="@{/img/logo2.png}" id="img-bottom">
                    <p id="tel-bottom">Telefone: <strong>(82) 3252-9081</strong></p>
                    <p id="copy-bottom">© 2023 HARG. Todos os direitos reservados.</p>
                </div>
                <!----------- FIM CONTEÚDO PRINCIPAL ------------->
            </div>
        </div>

        <script th:src="@{/js/buscar.js}"></script>
    </body>
</html>