h1{
    font-size: 16px;
    color: rgb(26,87,123);
    font-weight: bold;
}

li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

select{
    border-radius: 5px;
    width: 15vw;
    height: 3vh;
}

#mid{
    flex-direction: column;
}

.select-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    height: 7.5vh;
    width: 79.9vw;

    padding: 0;
    margin: 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.534);
}

button{
    width: 7vw;
    height: 3vh;


}

.input{
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 7.5vh;
    margin: 0 1vw 0 1vw;
}

#input-data{
    text-align: center;

    padding: 0;
    margin: 0;

    width: 7vw;
    height: 3vh;

    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.tabcontent{
    position: relative;

    overflow: auto;

    height: 60vh;
    width: 79.9vw;
    border: 1px solid rgb(60, 255, 0);

    border: 1px solid rgba(255, 0, 0, 0);
    padding: 0;
    margin: 0;

    background-color: rgba(72, 121, 153, 0.699);
}

.result{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 10vh;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    height: 10vh;
    width: 73.5vw;
    
    padding-left: 10px;
    line-height: 3px;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.534);
    background-color: rgba(72, 121, 153, 0.699);
}

.info-data-hora{
    position: relative;
    height: 10vh;
    width: 6.5vw;

    line-height: 2px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.534);
    background-color: rgba(72, 121, 153, 0.699);
}

.titulo{
    letter-spacing: 2px;
    font-weight: bold;
}

.nomeTitle{
    color: black;
}

.nomeData{
    font-weight: lighter;
    color: black;
}