.forms{
    max-height: 67.5vh;
    height: 67.5vh;
    width: 60vw;
    border-radius: 5px;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:visited{
    text-decoration: none;
    color: rgb(26,87,123);
}

li{
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: strong;
}

#barra-busca{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

#barra-busca > input[type="text"]{
    border: 1px solid black;
    border-radius: 10px;
    width: 32.5em;
    height: 3vh;
}

.resultado-busca{
    height: 59.9vh;
    margin-top: 5px;
    padding: 0px;
    display: flex;
    max-height: 59.9vh;
    overflow: auto;
    background-color: rgba(162, 177, 187, 0.856);
    border-radius: 5px;
}

.resul{
    border-bottom: 1px solid rgba(0, 0, 0, 0.534);
    margin: 0;
    padding: 0;
    width: 59.9vw;
    height: 6vh;
    background-color: rgba(162, 177, 187, 0);
    padding-bottom: 10px;
}

.resul:hover{
    background-color: rgb(162, 177, 187);
}

.nome-medico{
    color: rgb(26,87,123);
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
}

.especialidade{
    display: inline-block;
    font-size: 12px;
}

.divisor{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.crm{
    font-size: 12px;
    position: relative;
    display: block;
    margin:0;
    top: -12px;
    left: 15px;
    width: 5vw;
}

.nome-paciente{
    color: rgb(26,87,123);

    display: inline-block;

    font-size: 15px;
    margin-left: 15px;

    position: relative;
    top: 18px;
}

.cpf{
    font-size: 12px;
    display: block;
    margin:0;
    width: 8vw;

    position: relative;
    top: 18px;
    left: 15px;
}