input[type="text"]{
    border: 1px solid black;
    border-radius: 10px;
    width: 23vw;
    height: 3vh;
}

h1{
    font-size: 0.8vw;
    padding-left: 10px;
}

select{
    border-radius: 5px;
    width: 23vw;
    height: 3vh;
}

.forms{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60vh;
    width: 32vw;
    
    border-radius: 5px;
    background-color: rgba(212, 212, 212, 0.726);
}

/*====================== INFORMAÇOẼS ==============*/
.info-pessoa{
    height: 20vh;
    width: 32vw;
    overflow: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.774);
}

.cpf-content{
    width: 31.9vw;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cpf-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-paciente{
    width: 31.9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}

.medico-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*================================================================*/

/*====================== CADASTRO DOS MEDICAMENTOS ==============*/
.content-forms{
    height: 30vh;
    width: 32vw;
    overflow: auto;
}

.consulta-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1vh;
    margin-bottom: 1vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.774);
}

.consulta-content > input[type="text"]{
    margin-bottom: 1vh;

    width: 15vw;
}
/*================================================================*/

/*============================= BOTÕES ===========================*/
.button-content{
    height: 10vh;
    width: 32vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 4vh;
}

.button{
    height: 6vh;
    width: 32vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.button > #submit-button{
    height: 4.5vh;
    width: 8vw;
    margin-right: 10px;

    border-radius: 5px;
    border: 1px solid rgba(8, 8, 8, 0.671);
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.button > #submit-button:not([disabled]):hover, .button > #more-button:not([disabled]):hover{
    background-color: rgba(160, 160, 160, 0.418);
}

.button > #more-button{
    height: 4.5vh;
    width: 3vw;

    max-height: 4.5vh;
    max-width: 3vw;

    font-size: 1.5vw;

    border-radius: 5px;
    border: 1px solid rgba(8, 8, 8, 0.671);
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}
/*================================================================*/