label{
    font-size: 16px;
    display: block;
    cursor: pointer;
}


input{
    margin-bottom: 2em;
}

input[type="text"]{
    border: 1px solid black;
    border-radius: 10px;
    width: 32.5em;
    height: 2em;
}

input[type="radio"]{
    margin-top: 1em;
}

input[type="checkbox"]{
    margin: 0 5px 0 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

input[type="submit"]{
    display: block;
}

input[type="date"]{
    margin-top: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}

ul{
    list-style-type: none;
}

.forms{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60vh;
    width: 34vw;

    border-radius: 5px;
    background-color: rgba(212, 212, 212, 0.726);
}

.content-forms{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    padding-top: 3vh;
    padding-left: 2vw;
    overflow: auto;

    height: 47vh;
    width: 32vw;
    
    /* border: 1px solid red; */
}

.button{
    margin: 0;
    padding: 0;

    height: 10vh;
    width: 34vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button > #submit-button{
    position: relative;
    top: 6px;

    height: 4.5vh;
    width: 8vw;
}

.button > #result-cadastro{
    padding: 0;
    margin: 0;
    display: none;
    position: relative;
    bottom: 10px;

    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

.text-box{
    width: 31.9vw;
}

.data-genero{
    width: 31.9vw;
}

.comorbidade{
    width: 31.9vw;
}

.servicos{
    margin-top: 1vh;
    width: 31.9vw;
}

.servicos > label, .comorbidade > label{
    margin-bottom: 1vh;
}

.checkbox{
    padding: 0;
    margin-bottom: 0.5vw;
    margin-right: 0.8vw;
    float: left;
    width: 12vw;
}