#mid{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

h2{
    font-size: 1.5vw;
}

.card, .agendar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    border-radius: 5px;
    box-shadow: 7px 7px 13px 2px rgba(50, 50, 50, 0.22);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.6s ease-in;

    width: 12vw;
    height: 30vh;

    background: rgba(255, 255, 255, 0.7);
}

.card:hover{
    transform: rotateX(180deg) translateY(-5px);
    transform-origin: center;
    background: rgba(255, 255, 255, 0);
    box-shadow: 7px 7px 13px 2px rgba(50, 50, 50, 0);
}

.front-card, .back-card{
    backface-visibility: hidden;
    position: absolute;

    width: 12vw;
    height: 30vh;
}

.back-card{
    background: rgba(255, 255, 255, 0);
	transform: rotateX(180deg);
    transform-origin: center;
    display: flex;
}

.back-card > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fill-div{
    transition: all 0.4s ease-out;
    display: block;
    margin: 0;
    padding: 0;

    width: 12vw;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-div-two{
    height: 15vh;
}

.fill-div-three{
    height: 10vh;
}

.fill-div:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateX(5px);
    box-shadow: 7px 7px 13px 2px rgba(50, 50, 50, 0.22);
}

.fill-div > h2{
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    color: rgb(26,87,123);
    font-weight: strong;
}

.agendar:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease-out;
}

.agendar:hover{
    transform: translateY(-5px);
}

.front-card > h2{
    color: rgb(26,87,123);
    font-weight: strong;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.agendar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendar > h2{
    color: rgb(26,87,123);
}