.card, .agenda{
    margin: 50px;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 2px rgba(50, 50, 50, 0.22);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.8s ease-out;
    margin-right: 5px;
    width:280px;
    height: 300px;
    background: rgba(255, 255, 255, 0.7);
}

.card:hover{
    transform: rotateX(180deg) translateY(-5px);
    background: rgba(255, 255, 255, 0);
    box-shadow: 7px 7px 13px 2px rgba(50, 50, 50, 0);
}

.front-card, .back-card{
    backface-visibility: hidden;
    position: absolute;
    width:280px;
    height: 300px;
}

.back-card{
    background: rgba(255, 255, 255, 0);
	transform: rotateX(180deg);
    display: flex;
}

.back-card > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fill-div{
    transition: all 0.4s ease-out;
    display: block;
    margin: 0;
    padding: 0;
    width: 280px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.fill-div-two{
    height: 150px;
}

.fill-div-three{
    height: 100px;
}

.fill-div:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateX(5px);
    box-shadow: 7px 7px 13px 2px rgba(50, 50, 50, 0.22);
}

.fill-div > h2{
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    color: rgb(26,87,123);
    font-weight: strong;
    top: 40%;
}

.agenda:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease-out;
}

.agenda:hover{
    transform: translateY(-5px);
}

.agenda > a > h2, .front-card > h2{
    color: rgb(26,87,123);
    font-weight: strong;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}