label{
    font-size: 16px;
    display: block;
    cursor: pointer;
}

input{
    margin-bottom: 2em;
}

input[type="text"]{
    border: 1px solid black;
    border-radius: 10px;
    width: 23vw;
    height: 3vh;
}

input[type="checkbox"]{
    margin: 0 5px 0 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

input[type="submit"]{
    display: block;
}

input[type="date"]{
    border: 1px solid black;
    height: 2.6vh;
    width: 6vw;
    border-radius: 5px;
}

select{
    border-radius: 5px;
    width: 23vw;
    height: 3vh;
}

.forms{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60vh;
    width: 34vw;

    border-radius: 5px;
    background-color: rgba(212, 212, 212, 0.726);
}

.content-forms{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    overflow: auto;

    height: 47vh;
    width: 34vw;
    
    /* border: 1px solid red; */
}

.cpf-content{
    width: 30vw;
    height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cpf-input, .service-input, .medico-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30vw;
}

.result-paciente, .result-service, .result-medico{
    margin: 0;
    padding: 0;

    width: 30vw;
    height: 6vh;
}

.result-paciente > h1, .result-service > h1, .result-medico > h1{
    font-size: 18px;
    margin: 0;
}

.result-paciente > h1 > span, .result-service > h1 > span, .result-medico > h1 > span{
    font-weight: lighter;
    margin: 0;
}

.choose{
    width: 30vw;
    height: 20vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-input{
    padding-bottom: 1vh;
    /* border: 1px solid blue; */
}

.services-content{
    margin-top: 2vh;
    /* border: 1px solid green; */
}

.medico-input{
    padding-bottom: 1vh;
    /* border: 1px solid blue; */
}

.data-hora-content{
    /* border: 1px solid rgb(251, 255, 0); */

    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.data-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 13px;
    left: -10px;
}

.hora-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hora-input > select{
    width: 6.3vw;
}

.resumo-content{
      /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    /* border: 1px solid rgb(60, 255, 0); */

    margin: 0;
    padding: 0;

    margin-top: 5vh;
    height: 20vh;
    width: 30vw;
    border-top: 1px solid black;
    /* font-size: 18px; */
}

.resumo-content > h2{
    font-size: 14px;
}

.resumo-content > h2 > span{
    font-weight: lighter;
}

.resumo-content > h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    padding-bottom: 1vh;
}

.button{
    margin: 0;
    padding: 0;

    height: 10vh;
    width: 34vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button > #submit-button{
    position: relative;
    top: 6px;

    height: 4.5vh;
    width: 8vw;
}

.button > #result-cadastro{
    padding: 0;
    margin: 0;
    display: none;
    position: relative;
    bottom: 10px;

    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}