

label{
    font-size: 16px;
    display: block;
    cursor: pointer;
}

.forms{
    display: block;
    padding: 3em;
    border-radius: 5px;
    background-color: rgba(212, 212, 212, 0.726);
}

.button{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.button > #submit-button{
    width: 10em;
    height: 3em;
    position: inherit;
    top: 2em;
}

.button > #result-cadastro{
    display: none;
    position: absolute;
    top: 60px;
    z-index: 1;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

.text-box > label{
    padding-bottom: 0.5em;
}

.campo-comorbidade{
    display: block;
    margin-top: 1em;
}

.div-medico{
    display: flex;
}

.div-medico > label{
    height: 16px;
    font-size: 16px;
    display: block;
    cursor: pointer;
}

.div-medico > input[type="text"]{
    position: relative;
    width: 15em;
    margin-bottom: 38px;
}

.div-medico > #especializacao{
    top: 20px;
    left: -138px;
}

.div-medico > #crm{
    top: 20px;
    left: -32px;
}

input{
    margin-bottom: 2em;
}

input[type="text"]{
    border: 1px solid black;
    border-radius: 10px;
    width: 32.5em;
    height: 2em;
}

input[type="radio"]{
    margin-top: 1em;
}

input[type="checkbox"]{
    margin: 0 5px 0 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

input[type="submit"]{
    display: block;
}

input[type="date"]{
    margin-top: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}